<div class="container">
  <div class="header">
    <div class="user-meta text-right">
      kudr9tov@gmail.com
    </div>

  </div>
  <div class="panel">
    <li class="panel-navigate ">Dashboard</li>
    <li class="panel-navigate panel-navigate-active">Orders</li>
    <li class="panel-navigate">Statistics</li>
    <li class="panel-navigate">Settings</li>
  </div>
  <div class="action">
    <div class="orders">
        <div class="order" *ngFor="let order of orderIds" (click)="print(order)">Order №{{order}}</div>
    </div>
    <order-info *ngIf="showDetails" [order] = "order" ></order-info>


  </div>
  <div class="footer">

  </div>
</div>
