div{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 20px;
}
.cart {
  padding: 50px 100px;
  grid-column: 1/3;
  background: #ffffff;
}

.product-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border-radius: 0;
}

.product-row div:last-child {
  text-align: right;
}

.product-row-header div:last-child {
  text-align: right;
}

.product-row-header {
  font-family: Roboto,"Helvetica Neue",sans-serif !important;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border-radius: 0;
}

.stepper {
  padding: 20px 200px;
  grid-column: 1/3;
}

.btn-action{
  min-width: 30px;
  padding: 0 !important;
}

.btn-delete{
  color: #FF5D49;
}

.btn-edit{
  color: #7C7B85;
}

.btn-next-step{
  position: relative;
  margin: 20px;
  background: #FF5D49;
  color: #ffffff;
}


.btn-back-step{
  position: relative;
  margin: 20px;
  background: #95b1ff;
  color: #ffffff;
}


.input-field-user{
  display: block;
  width: 200px;
}

.card{
  height: 100%;
}

.order-meta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

