<div class="container">
  <div class="header">
    <div class="menu">
      <ul>
        <li>Продукты</li>
        <li><a [routerLink] = "['/admin']">Админ</a></li>
        <li><a [routerLink] = "['/cart']">Корзина</a></li>
        <li>Контакты</li>
        <li (mouseenter) ="viewDetailCart()" >
          <div class="shopping-cart">
            <i class="fas fa-shopping-cart cart"></i>
            <div class="quantity">3</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <filter></filter>
  <products></products>
  <div class="footer">

  </div>
  <table-component *ngIf="detailCart" (mouseleave)="closeDetailCart()"></table-component>
</div>
